@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Circular Std Bold'), url('https://fonts.cdnfonts.com/s/14289/CircularStd-Bold.woff') format('woff');
}


