@font-face {
    font-family: 'Circular Std Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Circular Std Medium'), url('https://fonts.cdnfonts.com/s/14289/CircularStd-Medium.woff') format('woff');
}


